$color-text-gray : #A0AEC0;
$color-text-red : #E31A1A;
// $gradient_card = "linear-gradient(127deg, rgba(6, 11, 40, 0.74) 28.26%, rgba(10, 14, 35, 0.71) 91.2%)"
// $gradient_sidebar = "linear-gradient(112deg, rgba(6, 11, 38, 0.94) 59.3%, rgba(26, 31, 55, 0.00) 100%)"
$color-primary :  #0075FF;
$color-secondary : #1A1F37;
$color-green : #01B574