<app-card title="Last Comments" link="/comments">
  <div *ngIf="comments$ | async as comments">
    <p>the fours last comments</p>
    <table>
      <thead>
        <th>Photo</th>
        <th class="desktop-only">Firstname</th>
        <th>Date</th>
        <th class="desktop-only">Comment</th>
        <th>Rating</th>
      </thead>
      <tbody>
        <tr *ngFor="let comment of comments">
          <td>
            <img src="{{ getUserImage(comment) | async }}" alt="profil" />
          </td>
          <td class="desktop-only">{{ getUsername(comment) | async }}</td>
          <td>{{ comment.createdAt | date }}</td>
          <td class="desktop-only">{{ comment.comment }}</td>
          <td>
            <img class="star"
              *ngFor="let rate of rating"
              src="{{
                rate < comment.rate +1
                  ? '../assets/icons/star-yellow.png'
                  : '../assets/icons/star-gray.png'
              }}"
              alt="stars"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</app-card>
