.card {
  padding: 20px;
  border-radius: 20px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background: linear-gradient(
    127deg,
    rgba(6, 11, 40, 0.94) 19.41%,
    rgba(10, 14, 35, 0.49) 76.65%
  );
  backdrop-filter: blur(60px);
 height: 100%;
}
