<app-card title="Orders Manager" >
  <div>
    <p class="subtitle">List of last orders</p>
    <table>
      <thead>
        <th class="desktop-only">Reference</th>
        <th>Date</th>
        <th class="desktop-only">Username</th>
        <th class="center">Amount</th>
        <th class="center">Status</th>
      </thead>
      <tbody *ngIf="orders$ |async as orders">
        <tr *ngFor="let order of orders">
          <td class="desktop-only">
            {{ order.id }}
          </td>
          <td>
            {{ order.createdAt | date : "dd/MM/yyyy" }}
          </td>
          <td class="desktop-only">
            {{ getUser(order) | async }}
          </td>
          <td class="center">
            {{ order.amount | currency : 'EUR' }}
          </td>

          <td class="center">
            <a routerLink="/orders" *ngIf="order.status === 'new'" class="new">NEW</a>
            <div *ngIf="order.status === 'send'" class="send">
              <img src="../../../assets/icons/delivery.png" alt="delivery" />
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</app-card>
