.summary {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px ,1fr));
    
    gap: 24px;
    margin-bottom: 40px;
    
}

.grid {
    display: grid;
    gap: 24px;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 320px 400px;
}

.products  {
    grid-column: 0/2 ;
}

.orders {
    grid-column: 2/4
}

.comments {
    grid-column: 1/4;
}