@import "../../../../styles/variables.scss";

table {
    margin: 20px 0 ;
    width: 100%;
}

td {
    border-top : solid 1px $color-text-gray;
    padding: 20px 0;
}

th {
    padding: 20px 0;
}
p, thead {
    color: $color-text-gray;
    text-align: left;
}

.star {
    width: 30px;
    height: 30px;
}


@media (max-width : 768px) {
    .desktop-only {
        display : none
    }

    .star {
        width: 12px;
        height: 12px;
    }
}