@import "../../styles/variables.scss";



p, thead {
    color: $color-text-gray;
    text-align: left;
}

.center {
    text-align: center;
}

.subtitle {
    display: flex;
    justify-content: space-between;
 
}

table {
    margin: 20px 0 ;
    width: 100%;
}

td {
    border-top : solid 1px $color-text-gray;
    padding: 20px 0;
}

th {
    padding: 20px 0;
}

.alert, .info {
    color : rgb(255, 52, 52);
    font-weight: 700;
    
}