<app-card title="Product List">
    <div>
        <div class="subtitle">
        <p>See Your Stock</p>
        <p class="info">* Less than 100 </p>
    </div>
        <table *ngIf="products$ | async as products">
            <thead>
                <th>Name</th>
                <th class="center">Price</th>
                <th class="center">Quantity</th>
            </thead>
            <tbody>
                <tr *ngFor="let product of products" [ngClass]="product.quantity < 100 ? 'alert' : null ">
                    <td>{{product.name}}</td>
                    <td class="center">{{product.price | currency : 'EUR' }}</td>
                    <td class="center">{{product.quantity}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</app-card>